.items {
    height: 100%;
    width: 100%;
    column-gap: 25px;
    color: black;
    display: block;
    position: relative;
    display: flex;
    direction: row;
    justify-content: stretch;
   
}


.icon {
    display: flex;
    direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    color: rgb(116, 116, 116);
    padding-top: 5px;

}

a .icon::after {
    color: black;
}


.items a {
    text-decoration: none;
    display: block;
    padding: 5px 36px;
    line-height: 60px;
    color: #000 !important;
}

a:hover {
    background: rgb(227, 233, 233);
    color: #000 !important;
}

.borderBtm {
    border-bottom: #ddd;
    gap: 10px;
    
    
}

.btn {
    position: absolute;
    top: 70px;
    left: 20px;
}

.site-drawer-render-in-current-wrapper {
    position: relative;
    height: 650px;
    padding: 48px;
    overflow: hidden;
    text-align: center;
    background: #fafafa;
    border: 1px solid #ebedf0;
    border-radius: 2px;
}

.site-drawer-render-in-current-wrapper {
    background: #000;
    border: 1px solid #303030;
}

.ant-drawer-body {
    width: 365px;
    /* margin-top: 36px; */
    height:100%;
    padding: 0px !important;
    overflow-y: hidden;
}
/* .ant-drawer-header {
    height: 95% !;
} */

.ant-drawer-content-wrapper {
    width: 365px !important;
    height:95%;
}


.ant-menu-sub.ant-menu-inline {
    background: white !important;
}

.ant-menu-sub.ant-menu-inline.items:hover {
    background: rgb(227, 233, 233) !important;
    color: black !important;
}

.ant-menu-submenu-arrow {
    border-right: none !important;
    color: #000 !important;
}
.ant-scrolling-effect{
   right:0;
}
.ant-drawer-open{
transform: translateX(0px) !important;
}

* {
    margin: 0;
    top: 0;

}

.sidemenu {
    width: 365px;
    height: 95%;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow-y: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    /* position: absolute; */
    transform : translateX(0);

}

.subsidemenu {
    width: 365px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
   
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out;
    padding-left: 50px;
    margin-top: 30px;
    overflow-y: hidden;
    
}