.body {
    background-color: white;
}

#main-slider-container {
    max-width: 1470px;
    min-height: 364px;
    /* background-color: black; */
    /* position: relative; */
    display: flex;
    /* top:auto;
    left: 20px;
    right: 20px; */
    align-items: center;
}

#slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    /* scrollbar-width: none; */
    scroll-behavior: smooth;
}

/* #slider::-webkit-scrollbar {
    display: none;
} */

.left-slider-icon {
    
    position: absolute;
    cursor: pointer;
}

.right-slider-icon {
    right: 0;
    position: absolute;
    cursor: pointer;
}

.anticon svg {
    height: 2em !important;
    width: 2em !important;
}

.slider-card {
    min-width: 245px;
    min-height: 364px;
    background: whitesmoke;
    /* border-radius: 10px; */
    display: inline-block;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0 / 12%);
    margin-left: 2px;
    margin-right: 2px;
}